*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Week 5 (SOAP)/Opdracht 2/auctionWebservice/target/
/Week 5 (SOAP)/Opdracht 2/auction/target/
/Week 5 (SOAP)/Opdracht 2/auctionWebService Client/nbproject/private/
/Week 5 (SOAP)/Opdracht 2/auctionWebService Server/target/
/Week 5 (SOAP)/Opdracht 1/CalculatorClient/build/
/Week 5 (SOAP)/Opdracht 1/CalculatorClient/dist/
/Week 5 (SOAP)/Opdracht 1/CalculatorClient/nbproject/private/
/Week 5 (SOAP)/Opdracht 1/CalculatorService/target/
/Week 5 (SOAP)/Opdracht 2/auctionWebService Client/build/
/Week 5 (SOAP)/Opdracht 2/auctionWebService Client/dist/